<div class="container-fluid">
  <nav class="navbar  navbar-dark">
    <h3 style="float: left;">Messaging</h3>
    <h5 style="float:right">Logged in as {{userName}} </h5>
  </nav>

  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search" [(ngModel)]="searchText" (keyup)="search()">
            </div>
          </div>
        </div>
        <div class="inbox_chat">
          <ng-container *ngIf="selectedUsers && selectedUsers.length !=0">
            <ng-container *ngFor="let user of selectedUsers">
              <ng-container *ngIf="user.userName != userName">
                <div class="chat_list" (click)="selectUser(user)"
                  [class.active_chat]="selectedUser && selectedUser.userName == user.userName">
                  <div class="chat_people">
                    <div class="chat_img" [class.online]="user.isOnline" [class.offline]="!user.isOnline"> <img
                        src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                    </div>
                    <div class="chat_ib">
                      <span>{{user.userName}} </span>
                      <span *ngIf="user.numberOfNewMessages!=0" class="warp">
                        <span class="numberOfNewMessages">{{user.numberOfNewMessages}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader" class="well my-drop-zone" class="mesgs" *ngIf="selectedUser">
        <div class="msg_history">
          <ng-container #messageContainer *ngFor="let message of allMessages,let i = index">
            <div class="incoming_msg" id="message{{i}}" *ngIf="message.from == userName">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p *ngIf="message.type == 0">{{message.message}}</p>
                  <a [href]="message.message" *ngIf="message.type == 1" target="_blank">{{message.fileName}}</a>
                  <img *ngIf="message.type == 2" [src]="message.message">
                  <span class="time_date">{{message.dateTime}}
                    <i class="fa fa-check" aria-hidden="true" [class.messageReaded]="message.isReaded"></i>
                    <i *ngIf="message.isReaded" class="fa fa-check messageReaded" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg" id="message{{i}}" *ngIf="message.from != userName">
              <div class="sent_msg">
                <p *ngIf="message.type == 0">{{message.message}}</p>
                <a [href]="message.message" *ngIf="message.type == 1" target="_blank">{{message.fileName}}</a>
                <img *ngIf="message.type == 2" [src]="message.message">
                <span class="time_date">{{message.dateTime}}</span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
              <input type="text" id="message" type="text" name="message" formControlName="message" class="write_msg"
                placeholder="Type a message" />

              <button class="msg_upload_btn" type="button">
                <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
                <i class="fa fa-paperclip"></i></button>

              <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>

              <div *ngIf="filesSelected">
                <p *ngIf="uploadProgress$ | async as uploadProgress">
                  <ngb-progressbar type="info" [value]="uploadProgress[0].progress" [striped]="true" [animated]="true">
                    <i>{{uploadProgress[0].progress}}</i>
                  </ngb-progressbar>
                </p>
              </div>

              <mat-list role="list" *ngIf="uploader && uploader.queue && uploader.queue.length != 0">
                <ng-container *ngFor="let item of uploader.queue">
                  <mat-list-item role="listitem">{{ item?.file?.name }}
                    <button style="margin: 15px;" type="button" class="btn btn-raised btn-danger btn-sm"
                      (click)="item.remove()">
                      <span class="fa fa-trash"></span>
                    </button>
                  </mat-list-item>
                </ng-container>

                <p>
                  <button type="button" class="btn btn-raised btn-success btn-sm" (click)="onFileChange()">
                    <span class="fa fa-upload"></span> Upload
                  </button>
                </p>
              </mat-list>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>