<div class="container-fluid">
  <nav class="navbar  navbar-dark">
    <h3 style="float: left;">Messaging</h3>
    <h5 style="float:right">Logged in as {{userName}} </h5>
  </nav>

  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <ng-container *ngIf="allUsers && allUsers.length !=0">
            <ng-container *ngFor="let user of allUsers">
              <ng-container *ngIf="user.userName != userName">
                <div class="chat_list" (click)="selectUser(user)"
                  [class.active_chat]="selectedUser && selectedUser.userName == user.userName">
                  <div class="chat_people">
                    <div class="chat_img" [class.online]="user.isOnline" [class.offline]="!user.isOnline"> <img
                        src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                    </div>
                    <div class="chat_ib">
                      <h5>{{user.userName}} <span *ngIf="user.numberOfNewMessages!=0"
                          class="numberOfNewMessages">{{user.numberOfNewMessages}}</span>
                        <span class="chat_date">Dec 25</span></h5>
                      <p>Test, which is a new approach to have all solutions
                        astrology under one roof.</p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader" class="well my-drop-zone" class="mesgs">
        <div class="msg_history">
          <ng-container *ngFor="let newMessage of allMessages">
            <div class="incoming_msg" *ngIf="newMessage.from == userName">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{newMessage.message}}</p>
                  <span class="time_date">{{newMessage.dateTime}}</span>

                </div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="newMessage.from != userName">
              <div class="sent_msg">
                <p>{{newMessage.message}}</p>
                <span class="time_date">{{newMessage.dateTime}}</span>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
              <input type="text" id="message" type="text" name="message" formControlName="message" class="write_msg"
                placeholder="Type a message" />

              <button class="msg_upload_btn" type="button">
                <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
                <i class="fa fa-paperclip"></i></button>

              <button class="msg_send_btn" type="button" (click)="sendMessage()"><i class="fa fa-paper-plane-o"
                  aria-hidden="true"></i></button>
            </form>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td *ngIf="uploader.options.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
              <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="fa fa-ok"></i></span>
                <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                <span *ngIf="item.isError"><i class="fa fa-remove"></i></span>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-raised btn-success btn-sm" (click)="item.upload()"
                  [disabled]="item.isReady || item.isUploading || item.isSuccess">
                  <span class="fa fa-upload"></span> Upload
                </button>
                <button type="button" class="btn btn-raised btn-warning btn-sm" (click)="item.cancel()"
                  [disabled]="!item.isUploading">
                  <span class="fa fa-ban"></span> Cancel
                </button>
                <button type="button" class="btn btn-raised btn-danger btn-sm" (click)="item.remove()">
                  <span class="fa fa-trash"></span> Remove
                </button>
              </td>
            </tr>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>