.form-holder {
  height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.form-group {
  margin-top: 50px;
  width: 100%;
}

.example-full-width {
  width: 80%;
  margin-left: 10%;
  border: 1px solid;
}

.error-message {
  position: sticky;
  top: calc(100% - 31px);
  padding: 0 3px;
  color: #f53d3d;
  font-weight: 300;
  margin-right: 5px;
}
